<div class="background padded-btn">
  <div id="faq">
    <div class="title-slice">
      <div class="title-slice-container">
        <div class="title">
          <h2>Créer un compte</h2>
        </div>
        <div class="sub-title">
          Votre profil Boomerang
        </div>
      </div>
    </div>
    <div class="container">
      <div class="about-slice padlog">
          <div class="about-card center-vid">
            <div class="about-card-content-container larg">
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.input :email, required: true, autofocus: true %>
                  <%= f.input :password, label: 'Mot de passe', required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                  <%= f.input :password_confirmation, label: 'Confirmer le mot de passe' ,required: true %>
                </div>

                <div class="form-actions">
                  <div class="padded-btn">
                    <%= f.button :submit, "Confirmer", class: "" %>
                  </div>
                </div>
              <% end %>

              <p>Vous avez un compte? connectez vous : <%= render "devise/shared/links" %></p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>





