
  <div class="banner text-center " style="background-image: url('<%= image_path "startup" %>')">
    <div class="banner-gradient"></div>
    <div class="banner-content padded marged-header filtrer">
        <div class="content-text">
          <p>Réalisez votre première <strong>levée de fonds</strong>. </p>
          <p>Créez un contrat qui protège vos <strong>investisseurs</strong> & votre <strong>startup</strong>. </p>
        </div>
         <%= link_to t("btn btn-primary btn-lg", default: "COMMENCEZ GRATUITEMENT"), new_contract_path(), class: "navbar-wagon-item navbar-wagon-button btn btn-primary" %>

    </div>
</div>
<div id="apropos">
  <div class="bg-primary padded" id="description">
  <div class="container text-center" id="features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" data-sr="enter bottom and scale up 20% over 1s">
          <%= image_tag "contrat.png" %>
          <h2>CONTRATS </br>BSA AIR</h2>
          <p>Bénéficiez d'un contrats spécialement rédigé pour les levées de fonds early-stage
            <strong> simple et robuste</strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" data-sr="enter bottom and scale up 20% over 1.5s">
          <%= image_tag "signature.png" %>
          <h2>SIGNATURES EN LIGNE</h2>
          <p>Faites signez l'ensemble de vos contrats <strong> en ligne</strong>  </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" data-sr="enter bottom and scale up 20% over 2s">
          <%= image_tag "securite.png" %>
          <h2>GARANTIE</h2>
          <p> Vos contrats sont conservés et <strong>accessible sur votre profil</strong></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" data-sr="enter bottom and scale up 20% over 2.5s">
          <%= image_tag "authenticite.png" %>
          <h2>AUTHENTICITE DES CONTRATS</h2>
          <p>Vos contrats et leurs signatures sont <strong>uniques et authentifiés</strong> grace à la cryptologie HelloSign</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div id="offres">

 <div class="container">
   <div class="row">
     <div class="col-xs-12">
       <h2>Les <strong>contrats Bsa Air</strong> permettent aux start-up de lever de l'argent facilement,
       <strong> sans la lourdeur juridique</strong> d'une <strong>levée de fonds classique</strong></h2>
    </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-6">
          <ul>
            <h3>Les problématiques autour de la valeur d'entreprise évitées</h3>
            <li>La question de la <strong>valorisation simplifiée</strong>: c'est un des <strong>points majeurs de friction</strong> entre les fondateurs et les potentiels investisseurs</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-6">
           <ul>
             <h3>Les Bsa Air vous font gagner du temps en vous simplifiant la vie</h3>
             <li>Les Bsa Air font gagner un temps précieux: <strong>100 heures</strong> c'est le temps moyen estimé pour le montage juridique d'une levée de fonds classique</li>
           </ul>
        </div>
        </div>
      </div>
    </div>

     <!-- <div class="row">
         <h2 class="text-center">En quoi consiste les <strong>contrats Bsa Air</strong> ?</h2>
      </div> -->

<!--     <div class="row">
     <div class="col-xs-12 col-sm-4 col-md-6">
>>>>>>> c053bd24bf6639b1b8690a4141a29fc9ecf24cf7
         <ul>
           <h3>Origine : les contrats Bsa Air sont proches des Bsa Ratchet</h3>
           <li>Les Bsa Ratchet sont des outils utilisés par les investisseurs pour corriger la valorisation sur laquelle ils sont rentrés dans une entreprise</li>
           <li>Concrètement, les Bsa Ratchet sont des actions supplémentaires auxquelles l'investisseur early stage peut souscrire à un prix avantageux s'il est rentré sur une VE qui a diminué lors d'un précédent tour</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
       <ul>
         <h3>Le Plus : les contrats Bsa Air apportent une plus grande souplesse juridique</h3>
         <li>Le principe des contrats Bsa Air est de <strong>décaler la question de la valorisation de l'entreprise dans le temps</strong></li>
         <li>Pour baser une levée de fonds early stage sur des Bsa Air, il suffit à l’entreprise d’émettre au profit de l’investisseur un BSA unique dont le prix de souscription est égal au montant de son investissement.</li>
         <li>Dans le Bsa Air, on définit la VE (valeur d'entreprise) entre un <strong>maximum (valorisation cap)</strong> et un <strong>minimum (valorisation floor)</strong></li>
         <li>La prochaine levée auprès d'un fonds de capital risque déterminera une valorisation précise</li>
         <!-- <li> </li>
         <li>Le nombre d'action auquel aura droit l'investisseur sera déterminé à <strong>posteriori</strong> en fonction d'un évènement ultérieur (le plus souvent, <strong>la prochaine levée de fonds</strong>)</li> -->
          </ul>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


