<div class="background padded-btn">
  <div id="faq">
    <div class="title-slice">
      <div class="title-slice-container">
        <div class="title">
          <h2>Le payement</h2>
        </div>
        <div class="sub-title">
          Chez Boomerang achetez vos contrats à un prix unique et générez autant d'exemplaires que vous le souhaitez!
        </div>
      </div>
    </div>
    <div class="container">
      <div class="about-slice padlog">
          <div class="about-card center-vid">
            <div class="about-card-content-container pay">
                <%= form_tag contract_payments_path(@contract) do %>
                <article>
                  <label class="price">
                    <span>Price: <%= humanized_money_with_symbol(@contract.price) %></span>
                  </label>
                </article>

                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-name="my-contract"
                  data-description="Contract <%= @contract.id %>"
                  data-amount="<%= @contract.price_cents %>"
                  data-currency="EUR"></script>
              <% end %>

            </div>
            <div class="container">
           <div class="row">
              <div class="col-xs-12">

    </div>
  </div>
</div>

          </div>
      </div>
    </div>
  </div>
</div>





