<div class="framb">
  <h1>Mon contrat</h1>
</div>

<div class="container">
  <div class="row">
      <%= render 'breadcrumb' %>

      <div class="container">
       <div class="row">
         <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <h2> Les informations de votre société : </h2>
          <%= simple_nested_form_for @contract, url: wizard_path do |contract| %>
            <%= contract.input :company_name, label: 'Nom de la société', placeholder: "Canelle", class: "form-control"%>
            <%= contract.input :company_status, label: 'Statut de la société', placeholder: "SAS", class: "form-control"%>
            <%= contract.input :headquarters_address, label: 'Adresse du Siège', placeholder: "130 rue du Bac, 75007 Paris", class: "form-control"%>
            <%= contract.input :share_capital, label: 'Capital social (€)', as: :string, placeholder: "100 000", class: "form-control"%>
            <%= contract.input :rcs_number, label: 'Numéro RCS', as: :string, placeholder: "389 552 201 07", class: "form-control"%>
            <%= contract.input :rcs_city, label: 'Ville du numéro RCS', placeholder: "Paris", class: "form-control"%>
            <%= contract.input :company_object, label: 'Objet social de la société', placeholder: "Faire le bien autour de nous", class: "form-control"%>
            <%= contract.input :company_created_on, as: :string, input_html: {class: "datepicker"}, label: 'Date de création de la société', placeholder: "11/11/2015" %>
            <%= contract.input :amount_to_be_raised, label: 'Montant de la levée de fonds (€)', as: :string, placeholder: "50 000", class: "form-control"%>
            <%= contract.input :specific_engagment, label: 'Engagement particulier', placeholder: "A déterminer", class: "form-control"%>
            <%= contract.input :investisors_right, label: 'Droits des investisseurs', placeholder: "A déterminer", class: "form-control"%>
            <%= contract.input :juridiction_law, label: 'Juridiction en charge', placeholder: "Paris", class: "form-control"%>
            <%= contract.input :signed_on, as: :string, input_html: {class: "datepicker"}, label: 'Date de la signature', placeholder: "11/11/2015", class: "form-control"%>
            <%= contract.input :signature_localization, label: 'Fait à', placeholder: "Paris", class: "form-control"%>
            <div class="btnpad">
              <%= contract.submit "Passez à l'étape suivante", class: "btn btn-primary" %>
            </div>

         <% end %>
         </div>
       </div>
      </div>
  </div>
</div>




