<div class="framb">
  <h1>Mon contrat</h1>
</div>

<div class="container">
  <div class="row">
    <%= render 'breadcrumb' %>

      <div class="container">
       <div class="row">
         <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <h2> Les informations de vos investisseurs: </h2>
          <%= simple_nested_form_for @contract, url: wizard_path do |contract| %>
            <%= contract.simple_fields_for :investors do |investor_form| %>
              <%= investor_form.input :first_name, label: 'Prénom', placeholder: "Maxime"%>
              <%= investor_form.input :last_name, label: 'Nom', placeholder: "Sadone"%>
              <%= investor_form.input :nationality, label: 'Nationalité', placeholder: "France"%>
              <%= investor_form.input :birthdate, label: 'Date de naissance', as: :string, input_html: {class: "datepicker"}, placeholder: "07/15/1991"%>
              <%= investor_form.input :birthplace, label: 'Lieu de naissance', as: :string, placeholder: "Calvi"%>
              <%= investor_form.input :address, label: 'Adresse', as: :string, placeholder: "20 rue de l'est 92100 Boulogne-Billancourt"%>
              <%= investor_form.input :email, label: 'Email', as: :string, placeholder: "Maxime@free.com"%>
              <%= investor_form.input :amount_raised, label: 'Montant investi', as: :string, placeholder: "100"%>
              <%= investor_form.input :rate_drop, label: 'Taux de décôte', as: :string, placeholder: "25%"%>
              <%= investor_form.input :valo_cap, label: 'Valorisation Cap', as: :string, placeholder: "100"%>
              <%= investor_form.input :valo_floor, label: 'Valorisation Floor', as: :string, placeholder: "50"%>
              <%= investor_form.link_to_remove "Supprimez cet investisseur" %>
            <% end %>
            <p><%= contract.link_to_add "Ajoutez un investisseur", :investors %></p>
            <%= contract.submit "Récapitulatif", class: "btn btn-primary" %>
          <% end %>

         </div>
       </div>
      </div>
  </div>
</div>





